.focus-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.focus-title {
    color: #d4af37;
    letter-spacing: 6px;
    font-size: 18px;
    margin-bottom: 25px;
}

.focus-box {
    position: relative;
    padding: 30px 60px;
}

.focus-box h1 {
    color: #d4af37;
    font-size: 48px;
    margin: 0;
}

.focus-subtitle {
    color: #d4af37;
    margin-top: 20px;
    font-size: 22px;
}

/* Esquinas */

.corner {
    position: absolute;
    width: 25px;
    height: 25px;
    border-color: #d4af37;
}

.top-left {
    top: 0;
    left: 0;
    border-top: 3px solid;
    border-left: 3px solid;
}

.top-right {
    top: 0;
    right: 0;
    border-top: 3px solid;
    border-right: 3px solid;
}

.bottom-left {
    bottom: 0;
    left: 0;
    border-bottom: 3px solid;
    border-left: 3px solid;
}

.bottom-right {
    bottom: 0;
    right: 0;
    border-bottom: 3px solid;
    border-right: 3px solid;
}