.welcome-frame {
    display: flex;

    justify-content: center;

    align-items: center;

    margin-bottom: 10px;
}

.feed-logo {

    width: min(700px, 90vw);

    height: auto;

    display: block;

    margin-bottom: 40px;

}