.landing {

    min-height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;
}

/* ---------- LOGO ---------- */

.logo-frame{

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:10px;

}

.landing-logo{

    width: min(700px, 90vw);

    height: auto;

    display: block;

    margin-top: -2.5%;

    margin-bottom: -8%;

}

/* ---------- DESCRIPTION ---------- */

.description {

    color: #bdbdbd;

    font-size: 1.1rem;

    margin-bottom: 50px;
}

/* ---------- LOGIN ---------- */

.login-text {

    margin-top: 20px;

    margin-bottom: 20px;

    color: #8f8f8f;
}

a{

    text-decoration:none;

}

.actions{

    display:flex;

    flex-direction:column;

    gap:20px;

}